@using Wysnan.EIMOnline.MVC.Framework.Extensions;
@model Wysnan.EIMOnline.Common.Poco.SecurityUser
@using (Html.BeginForm())
{ 
    
    <table>
        <tr>
            <td>
                @Html.LabelFor(a => a.UserName)
                <div>
                    @Html.TextBoxFor(a => a.UserName)
                    @Html.ValidationMessageFor(a => a.UserName)
                </div>
            </td>
            <td>
                @Html.LabelFor(a => a.UserNameEn)
                <div>
                    @Html.TextBoxFor(a => a.UserNameEn)
                    @Html.ValidationMessageFor(a => a.UserNameEn)
                </div>
            </td>
            <td>
                @Html.LabelFor(a => a.UserLoginID)
                <div>
                    @Html.TextBoxFor(a => a.UserLoginID)
                    @Html.ValidationMessageFor(a => a.UserLoginID)
                </div>
            </td>
            <td>
                @Html.LabelFor(a => a.UserLoginPwd)
                <div>
                    @Html.TextBoxFor(a => a.UserLoginPwd)
                    @Html.ValidationMessageFor(a => a.UserLoginPwd)
                </div>
            </td>
            <td>
                @Html.LabelFor(a => a.Sex)
                <div>
                    @Html.DropDownLookUp(a => a.Sex)
                    @Html.ValidationMessageFor(a => a.Sex)
                </div>
            </td>
            <td>
                @Html.LabelFor(a => a.Country)
                <div>
                    @Html.TextBoxFor(a => a.Country)
                    @Html.ValidationMessageFor(a => a.Country)
                </div>
            </td>
        </tr>
    </table>
}